<div class="mat-elevation-z1">
  <mat-toolbar>
    产品测试（已完成）
    <span class="spacer"></span>
  </mat-toolbar>

  <div class="table-filter-form">

    <mat-form-field>
      <mat-select placeholder="摄像头" [(ngModel)]="filterForm['cameraId']">
        <mat-option [value]="null">
          （不限）
        </mat-option>
        <mat-option *ngFor="let camera of cameras" [value]="camera.id">
          标签：{{camera.label}}，地址：{{camera.apiBase}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="操作员" [(ngModel)]="filterForm['operatorId']">
        <mat-option [value]="null">
          （不限）
        </mat-option>
        <mat-option *ngFor="let operator of operators" [value]="operator.id">
          {{operator.realName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="产品型号 %" [(ngModel)]="filterForm['produceModelLike']">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="产品编号 %" [(ngModel)]="filterForm['produceNoLike']">
    </mat-form-field>

    <app-date-search [filter]="filterForm" dateFieldName="completeDate" dateName="测试日期"></app-date-search>

    <mat-form-field>
      <mat-select placeholder="测试结果" [(ngModel)]="filterForm['testResult']">
        <mat-option [value]="null">（不限）</mat-option>
        <mat-option value="P">合格</mat-option>
        <mat-option value="R">不合格</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button color="primary" (click)="filter()">
      <mat-icon>search</mat-icon>
      筛选
    </button>
    <button mat-button (click)="resetFilter()">
      <mat-icon>block</mat-icon>
      全部
    </button>
  </div>

  <table mat-table class="full-width" matSort>

    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let row; let index=index">
        {{index + 1 + (paginator ? paginator.pageIndex * paginator.pageSize : 0)}}
      </td>
    </ng-container>


    <ng-container matColumnDef="camera">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>摄像头</th>
      <td mat-cell *matCellDef="let row">标签：{{row.cameraLabel}}</td>
    </ng-container>

    <ng-container matColumnDef="operator">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>操作员</th>
      <td mat-cell *matCellDef="let row">{{row.operatorName}}</td>
    </ng-container>

    <ng-container matColumnDef="produceModel">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>产品型号</th>
      <td mat-cell *matCellDef="let row">{{row.produceModel}}</td>
    </ng-container>

    <ng-container matColumnDef="produceNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>产品编号</th>
      <td mat-cell *matCellDef="let row">{{row.produceNo}}</td>
    </ng-container>

    <ng-container matColumnDef="testCompletedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>完成于</th>
      <td mat-cell *matCellDef="let row">{{row.testCompletedAt | date:'y-MM-dd'}}</td>
    </ng-container>

    <ng-container matColumnDef="testResult">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>测试结果</th>
      <td mat-cell *matCellDef="let row">
        <ng-template
          [ngIf]="row.status==='D'">
          <span *ngIf="row.testResult === 'P'" class="test-pass">通过</span>
          <span *ngIf="row.testResult === 'R'" class="warn-color">不通过</span>
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell align="right" *matHeaderCellDef class="compact actions">操作</th>
      <td mat-cell *matCellDef="let row" align="end" class="compact actions">

        <button mat-button routerLink="/c-tests/{{row.id}}/c-records" class="secondary">
          <mat-icon>list</mat-icon>
          比对记录
        </button>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="dataSource?.data?.length"
                 [pageIndex]="0"
                 [pageSize]="20"
                 [pageSizeOptions]="[10, 20, 50, 100]">
  </mat-paginator>

</div>
