<h3 mat-dialog-title>
  摄像头（{{productTest && productTest.id ? '修改' : '新增'}}）
</h3>

<mat-dialog-content>
  <form [formGroup]="form" novalidate>

    <mat-form-field class="full-width">
      <!--<mat-label>摄像头</mat-label>-->
      <mat-select placeholder="摄像头" formControlName="cameraId">
        <mat-option *ngFor="let camera of cameras" [value]="camera.id">
          标签：{{camera.label}}，地址：{{camera.apiBase}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="产品型号" formControlName="produceModel">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="产品编号" formControlName="produceNo">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="number" placeholder="预计测试总时间" formControlName="expectTotalTime">
      <span matSuffix>秒
        <button color="primary" mat-button (click)="form.patchValue({expectTotalTime:10*60})">
          10分钟
        </button>
        <button color="primary" mat-button (click)="form.patchValue({expectTotalTime:20*60})">
          20分钟
        </button>
        <button color="primary" mat-button (click)="form.patchValue({expectTotalTime:30*60})">
          30分钟
        </button>
      </span>
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput type="number" placeholder="操作间隔" formControlName="operationInterval">
      <span matSuffix>秒
        <button color="primary" mat-button (click)="form.patchValue({operationInterval:5*60})">
          5分钟
        </button>
        <button color="primary" mat-button (click)="form.patchValue({operationInterval:10*60})">
          10分钟
        </button>
        <button color="primary" mat-button (click)="form.patchValue({operationInterval:20*60})">
          20分钟
        </button>
      </span>
    </mat-form-field>

  </form>
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>取消</button>
  <button mat-button color="primary" cdkFocusInitial (click)="save()">保存</button>
</div>
