
.config-name {
  display: inline-block;
  min-width: 6em;
  color: #404040;
}

.images {
  margin-top: 10px;
  width: 1080px;
  min-height: 200px;
}

.images img {
  border: 1px solid black;
  margin-top: 10px;
}
