<h3 mat-dialog-title>
  摄像头（{{camera && camera.id ? '修改' : '新增'}}）
</h3>

<mat-dialog-content>
  <form [formGroup]="form" novalidate>

    <mat-form-field class="full-width">
      <input matInput placeholder="API基地址" formControlName="apiBase">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="标签" formControlName="label">
    </mat-form-field>

    <mat-form-field class="full-width">
      <input matInput placeholder="序列号" formControlName="deviceNo">
    </mat-form-field>

  </form>
</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>取消</button>
  <button mat-button color="primary" cdkFocusInitial (click)="save()">保存</button>
</div>
