<div class="mat-elevation-z1">
  <mat-toolbar>
    比对记录
    <span class="title-tip">
      <span *ngIf="productTest">
        &nbsp;&nbsp;&nbsp;&nbsp;产品编号:
        <span class="accent-color">{{productTest.produceNo}}</span>
      </span>
      <span *ngIf="camera">
        &nbsp;&nbsp;&nbsp;&nbsp;摄像头:
        <span class="primary-color">{{camera.label}}</span>
      </span>
    </span>
    <span class="spacer"></span>
    <button class="flex-button" mat-stroked-button color="primary" (click)="list()"
            [disabled]="processes.list">
      刷新
    </button>
  </mat-toolbar>

  <table mat-table class="full-width records" matSort>

    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let row; let index=index">
        {{index + 1 + (paginator ? paginator.pageIndex * paginator.pageSize : 0)}}
      </td>
    </ng-container>

    <ng-container matColumnDef="deviceNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>摄像头序列号</th>
      <td mat-cell *matCellDef="let row">{{row.deviceNo}}</td>
    </ng-container>

    <ng-container matColumnDef="collectionId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>模板</th>
      <td mat-cell *matCellDef="let row">
        <button class="flex-button" mat-button (click)="viewTemplate(row)">
          {{row.collectionId}}
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="success">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>比对结果</th>
      <td mat-cell *matCellDef="let row" [class.check-success]="row.success" [class.warn-color]="!row.success">
        {{row.success ? '成功' : '失败'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>时间</th>
      <td mat-cell *matCellDef="let row">{{row.createdAt | date:'y-MM-dd HH:mm:ss'}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>查看</th>
      <td mat-cell *matCellDef="let row">

        <button mat-button (click)="viewImage(row)" class="image-button" *ngIf="row.img">
          图片
        </button>

        <button mat-button (click)="viewVideos(row)" class="video-button" *ngIf="row.video1">
          录像
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
                 [length]="dataSource?.data?.length"
                 [pageIndex]="0"
                 [pageSize]="20"
                 [pageSizeOptions]="[10, 20, 50, 100]">
  </mat-paginator>

</div>
