<h3 mat-dialog-title>
  设备配置
</h3>

<mat-dialog-content>

  <div align="end">
    <button mat-button color="primary" (click)="startEdit()" *ngIf="!editing">修改</button>
    <button mat-button (click)="cancelEdit()" *ngIf="editing">取消</button>
    <button mat-button color="primary" (click)="setConfig()" [disabled]="processes.setConfig" *ngIf="editing">保存
    </button>
  </div>

  <mat-list role="list" *ngIf="config">
    <mat-list-item role="listitem">
      <div class="config-name">开机自启动</div>
      <div class="config-value">
        <mat-slide-toggle [(ngModel)]="config2.isPowerBoot" *ngIf="editing"></mat-slide-toggle>
        <ng-template [ngIf]="!editing">
          {{config.isPowerBoot ? '是' : '否'}}
        </ng-template>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="config-name">守护进程</div>
      <div class="config-value">
        <mat-slide-toggle [(ngModel)]="config2.isGuard" *ngIf="editing"></mat-slide-toggle>
        <ng-template [ngIf]="!editing">
          {{config.isGuard ? '是' : '否'}}
        </ng-template>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="config-name">设备每日重启</div>
      <div class="config-value">
        <mat-slide-toggle [(ngModel)]="config2.isReboot" *ngIf="editing"></mat-slide-toggle>
        <ng-template [ngIf]="!editing">
          {{config.isReboot ? '是' : '否'}}
        </ng-template>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="config-name">每日重启 小时</div>
      <div class="config-value">
        <mat-form-field *ngIf="editing">
          <input type="number" min="0" max="23" placeholder="(0-23)" matInput [(ngModel)]="config2.rebootHour">
        </mat-form-field>
        <ng-template [ngIf]="!editing">
          {{config.rebootHour}}
        </ng-template>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="config-name">每日重启 分钟</div>
      <div class="config-value">
        <mat-form-field *ngIf="editing">
          <input type="number" min="0" max="59" placeholder="(0-59)" matInput [(ngModel)]="config2.rebootMinute">
        </mat-form-field>
        <ng-template [ngIf]="!editing">
          {{config.rebootMinute}}
        </ng-template>
      </div>
    </mat-list-item>
    <mat-list-item role="listitem">
      <div class="config-name">识别阈值(0-1)</div>
      <div class="config-value">
        <mat-form-field *ngIf="editing">
          <input type="number" step=".01" placeholder="(0-1)" matInput [(ngModel)]="config2.checkValue">
        </mat-form-field>
        <ng-template [ngIf]="!editing">
          {{config.checkValue}}
        </ng-template>
      </div>
    </mat-list-item>
  </mat-list>

</mat-dialog-content>

<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>关闭</button>
</div>
