.mat-form-field.url-field {
  width: 400px;
}

.config-name {
  display: inline-block;
  min-width: 12em;
  color: #404040;
}

.cfg-list .mat-list-item {
  height: 24px;
}

.mat-form-field.cfg-text {
  width: 100%;
}
