
canvas#init-screen-canvas {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
}

.positions-input {
  width: 300px;
}

.position-track {
  display: inline-block;
  width: 5em;
  margin-right: 1em;
}

.init-actions button {
  margin-left: 1em;
}
