.template-card {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 540px;
}

.positions-input, .template-param {
  width: 300px;
}

.template-param {
  margin-top: 1em;
}

.action-form-field {
  width: 300px;
}
