button.flex-button:not(:first-child) {
  margin-left: 1em;
}

.mat-form-field.url-field {
  width: 400px;
}

table.records {
  margin-top: 1em;
}

td img {
  margin-top: 3px;
  width: 100px;
}

.check-success {
  color: green;
}

.check-fail {
}
