.alt-info {
  margin: 1em;
}

.images {
  margin-top: 10px;
  width: 1080px;
  min-height: 200px;
}

.images img {
  border: 1px solid black;
}

.positions-input, .template-param {
  width: 300px;
}

.template-param {
  margin-top: 1em;
}
