<mat-toolbar>
  摄像头调试
  <span *ngIf="camera" class="title-tip">
      &nbsp;&nbsp;&nbsp;&nbsp; API地址: {{camera.apiBase}}
    &nbsp;&nbsp;&nbsp;&nbsp; 序列号: {{camera.deviceNo}}
    </span>
  <span class="spacer"></span>
  <span *ngIf="camera">
    <button mat-button color="primary" (click)="getDeviceNo()" [disabled]="processes.getDeviceNo">
        <mat-icon>tag</mat-icon>
        获取序列号
      </button>
    <button mat-button color="primary" (click)="showDeviceConfig()" [disabled]="processes.getCfg">
      <mat-icon>app_settings_alt</mat-icon>
        设备配置
      </button>
    <button mat-button color="primary" (click)="showDeviceCfgFile()" [disabled]="processes.getConfig">
      <mat-icon>list_alt</mat-icon>
        配置文件
      </button>
  </span>
</mat-toolbar>


<ng-template [ngIf]="camera">

  <div class="alt-info" *ngIf="!camera.deviceNo">请先获取设备序列号</div>

  <mat-tab-group animationDuration="0ms" *ngIf="camera.deviceNo">
    <!--<mat-tab label="实时画面">

      <app-aic-screen-live [camera]="camera" [cameraImg]="cameraImg"></app-aic-screen-live>

    </mat-tab>-->

    <mat-tab label="初始化">

      <app-aic-screen-init [camera]="camera" [cameraImg]="cameraImg"></app-aic-screen-init>

    </mat-tab>

    <mat-tab label="模板">

      <app-aic-templates [camera]="camera"></app-aic-templates>

    </mat-tab>

    <mat-tab label="比对">

      <app-aic-checker [camera]="camera"></app-aic-checker>

    </mat-tab>

    <mat-tab label="比对记录">

      <app-aic-check-records [camera]="camera"></app-aic-check-records>

    </mat-tab>

  </mat-tab-group>

</ng-template>

